@include max_responsive(md) {
  .header_sm {
    padding: 15px 0;
    .container-lg {
      padding: 0 20px;
    }
    .menuButton {
      width: 30px;
      height: 20px;
      span {
        transition: 0.3s all;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;

        &:nth-child(2) {
          left: 0;
          top: calc(50% - 1.5px);
        }
      }
      &.show {
        span {
          &:nth-child(1),
          &:nth-child(4) {
            opacity: 0;
            transform: scale(0);
          }
          &:nth-child(2) {
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  .mobileMenu {
    transition: 0.4s left, 0.4s opacity;
    left: 100vw;
    top: 0;
    opacity: 0;
    overflow-y: scroll;
    &.show {
      left: 20vw;
      opacity: 1;
    }

    .accordion-button {
      &::before {
        content: '\2796';
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
        color: transparent;
        text-shadow: 0 0 0 get-color(light);
        transition: 0.3s transform, 0.3s color;
        @include get_font(600, 18px, 1);
      }
      &::after {
        content: unset;
      }
      &.collapsed {
        &::before {
          content: '\2795';
        }
      }
    }
  }
  .mobileMenuBackdrop {
    background-color: rgba(#000, 0.5);
    &.show {
      opacity: 1;
      user-select: auto;
      pointer-events: auto;
    }
  }
  #page-menu {
    left: -80vw;
    transition: 0.4s left;
    #page-menu-close {
      top: calc(var(--mobile-header) + 25px);
      transform: translateY(-50%);
    }
    &.show {
      left: 0;
    }
  }
}

nav[id^='nav-mobile'] {
  padding-left: 12px;
  gap: 15px;
  a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    @include get_font(600, 30px, 1);
  }
}

nav[id^='nav-mobile']:not(#nav-mobile-1) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  background-color: var(--color-primary);
  transition: 0.4s transform;
}

nav[id^='nav-mobile']:not(#nav-mobile-1).show {
  transform: translateX(0);
}
