#page-banner {
  height: 200px;
}
#banner-breadcrumb {
  a {
    &:not(:last-of-type):before {
      content: '/';
      position: absolute;
      right: -15px;
      top: 3px;
      color: #fff;
      font-size: 16px;
      line-height: 1;
    }
    &:hover {
      color: get-color(secondary);
    }
  }
  @include max_responsive(sm){
    a{
      &:not(:last-of-type):before{
        font-size: 14px;
      }
    }
  }
}
