#templateAccordion {
  .accordion-header {
    margin-bottom: 0;
  }
  .accordion-body{
     padding-bottom: 18px;
  }
  .accordion-button {
    &::before {
      content: '\2796';
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
      color: transparent;
      text-shadow: 0 0 0 get-color(light);
      transition: 0.3s transform, 0.3s color;
      @include get_font(600, 18px, 1);
    }
    &.collapsed {
      &::before {
        content: '\2795';
      }
    }
    &::after {
      content: unset;
    }
  }
}
