.btn {
  height: 50px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  line-height: 1;
}

.quicklink {
  &::before {
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    background-color: get-color(dark);
    transition: 0.3s width;
  }
  .icon {
    flex: 1;
  }
  .text {
    flex: 3;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
}

.mimaran_cover {
  aspect-ratio: 306/380;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
  &.bulten_cover {
    .img {
      background-color: get-color(cream);;
    }
  }
  &:hover {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
  }
}


.gorus_component{
  &:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
  }
}