#home-banner {
  .img {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
  }
}

#banner-fade {
  &::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: get-color(primary);
  }
  .slide-item {
    h2 {
      transform: translateX(-25%);
      transition-delay: 0.3s;
    }
    p {
      transform: translateX(-25%);
      transition-delay: 0.4s;
    }
    a {
      transform: translateY(25%);
      transition-delay: 0.5s;
    }
    &.active {
      h2,
      p,
      a {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
  .slide-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    pointer-events: none;
    user-select: none;
    transform: unset;
    svg {
      fill: #c6c5c1;
    }
    .prev {
      pointer-events: auto;
      user-select: auto;
      svg {
        transform: rotate(180deg);
      }
      &:hover {
        svg {
          fill: get-color(secondary);
        }
      }
    }
    .next {
      pointer-events: auto;
      user-select: auto;
      &:hover {
        svg {
          fill: get-color(secondary);
        }
      }
    }
  }
  @include max_responsive(md){
    .slide-nav{
      height: 100%;
    }
  }
}

#home-organisations {
  .org_link {
    &::before {
      background-color: #fff;
      border-radius: 2px;
      width: 100%;
      height: 70%;
      left: 0;
      top: 0;
      z-index: 0;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
    }
    a {
      transform: translateX(-50%);
      transition: 0.3s background-color;
    }
    .black_box {
      &::before {
        bottom: 20px;
        height: 50px;
        width: 140px;
        left: 50%;
        transform: translateX(-50%);
        background-color: get-color(primary);
        transition: 0.3s ease all;
      }
    }
    &:hover {
      .black_box {
        a {
          background-color: get-color(dark);
        }
        &::before {
          bottom: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  @include max_responsive(lg){
    .org_link{
      .black_box{
        &::before{
          width: 100px;
        }
      }
    }
  }
}

#home-papers {
  margin-bottom: 184px;
  .paper-nav {
    .prev {
      svg {
        transform: rotate(180deg);
      }
    }
    button {
      &:hover {
        svg {
          fill: get-color(secondary);
        }
      }
    }
  }
  .events-nav {
    .prev {
      svg {
        transform: rotate(180deg);
      }
    }
    button {
      &:hover {
        svg {
          opacity: 0.5;
        }
      }
    }
  }
  &::before {
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 67%;
    background-color: get-color(secondary);
  }
  & > img {
    bottom: 10px;
  }
  @include max_responsive(xl){
    margin-bottom: 120px;
  }
  @include max_responsive(sm){
    margin-bottom: 40px;
  }
}

#home-papers-blaze {
  width: calc(100% + var(--container-margin) + 4px);
  a {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.16);
    img {
      aspect-ratio: 182/257;
    }
  }
}

#home-events-blaze {
  width: calc(100% + var(--container-margin) + 4px);
  a {
    &::after {
      top: 100%;
      left: 0;
      width: calc(100% + 24px);
      height: 10px;
      background-color: #fff;
      transition: 0.3s background-color;
    }
    &:hover {
      div,
      span {
        color: #b4b2ab;
      }
      svg {
        fill: #b4b2ab;
      }
      &::after {
        background-color: #b4b2ab;
      }
    }
  }
}

#home-library {
  margin-bottom: 136px;
  background-image: url('../img/home_library_bg.webp');
  form {
    padding: 170px 0;
  }
  button {
    &:hover {
      background-color: get-color(secondary);
    }
  }
  img {
    right: calc(var(--gutter-width) * -0.5);
  }
  .library-title {
    &::after {
      top: 0;
      height: 100%;
      background-color: get-color(primary);
      left: 100%;
      width: calc(var(--container-margin) + 5px);
    }
    &::before {
      top: 0;
      right: 100%;
      background-color: get-color(primary);
      height: 100%;
      width: calc((var(--gutter-width) * 0.5) + var(--column-width));
    }
  }
  @include max_responsive(xl){
    .library-title{
      &::after{
        width: calc(var(--container-margin) + 12px);
      }
    }
  }
  @include max_responsive(md){
    .library-title{
      &::before{
        width: calc(var(--container-margin) + var(--gutter-width));
      }
    }
  }
  @include max_responsive(sm){
    margin-bottom: 80px;
    form{
      padding: 90px 0;
    }
  }
  @include max_responsive(xs){
    img{
      right: 12px;
    }
  }
}

#in-network-provider {
  margin-bottom: 140px;
  .wrapper {
    &::before {
      z-index: -1;
      top: -20px;
      bottom: -20px;
      left: var(--column-width);
      right: var(--column-width);
      background-color: get-color(secondary);
    }
    &::after {
      top: 0;
      left: 0;
      height: 100%;
      background-color: get-color(primary);
      width: calc((10 * var(--column-width)) - var(--gutter-width));
    }
  }
  a {
    &:hover {
      background-color: #000;
    }
  }
  @include max_responsive(md){
    .wrapper{
      &::after{
        width: 100%;
      }
    }
  }
  @include max_responsive(sm){
    margin-bottom: 80px;
  }
}

#home-career {
  .all-btn {
    a {
      min-width: 160px;
      &:hover {
        background-color: get-color(secondary);
      }
    }
  }
}

#home-career-tabs {
  button:not(.active) {
    &:hover {
      background-color: get-color(secondary);
    }
  }
}
#home-careers-tab-content {
  &::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #fff;
  }
  .img {
    width: min(100%, 128px);
  }
  a {
    &:hover {
      background-color: get-color(secondary);
    }
  }
  @include max_responsive(sm){
    &::before{
      content: unset;
    }
  }
}

#home-social {
  margin-bottom: 110px;
  a {
    width: 130px;
    &:hover {
      background-color: get-color(dark);
      svg {
        fill: #fff;
      }
      span {
        color: #fff;
      }
    }
  }
  @include max_responsive(sm){
    margin-bottom: 60px;
  }
  @include max_responsive(xs){

  }
}
