@use 'sass:map';

$color_map: (
    "primary": #959387,
    "secondary": #424242,
    "dark": #7A7975,
    "light": #F5F2ED,
);

$default_colors: (
  'white': #fff,
  'transparent': transparent,
  'black': #000,
);

$color_map: map.merge($color_map, $default_colors);


$final_list: ();